<div class="home-main-block">
  <div class="home-main-block-layer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h1 class="main-title">Compartilhe: emocione, aprenda, ensine, inspire e VIVA!</h1>
          <p>Para quem precisa de entretenimento para manter a saúde,<br>com quem produz arte e salva.</p>
        </div>
      </div>
    </div>
  </div>
</div>