<div class="home-main-block">
  <div class="home-main-block-layer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <h1 class="main-title">Compartilhe: emocione, aprenda, ensine, inspire e VIVA!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-chars">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="char-message">
          Está cansado?<br>
          Sente-se aqui,<br>
          descanse um pouco,<br>
          veja o que temos para te contar!<br>
          recupere as forças!<br>
          <span class="view-moree"><i class="glyphicon glyphicon-log-in"></i> Clique para ver os conteúdos</span>
        </p>
      </div>
      <div class="col-md-6">
        <img class="home-char-img" src="/public/project/banco-2.gif" alt="Banco da praça">
      </div>
    </div>
  </div>
</div>
