<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li><a href="/web-link">Links</a></li>
  <li class="active">Enviar</li>
</ol>

<h1>Enviar link</h1>

{{{form-model model data validationError}}}