<div class="list-group">
  <a href="/web-link?category=Contato social e comunicação" class="list-group-item list-group-item-action">
    Contato social e comunicação
  </a>
  <a href="/web-link?category=Contas sociais e positivas" class="list-group-item list-group-item-action">Contas sociais e positivas</a>
  <a href="/web-link?category=Entreterimento" class="list-group-item list-group-item-action">Entreterimento</a>
  <a href="/web-link?category=Saúde mental" class="list-group-item list-group-item-action">Saúde mental</a>
  <a href="/web-link?category=Crianças e brincadeiras" class="list-group-item list-group-item-action">Crianças e brincadeiras</a>
  <a href="/web-link?category=Mini cursos e tutoriais" class="list-group-item list-group-item-action">Mini cursos e tutoriais</a>
  <a href="/web-link?category=Covid 19" class="list-group-item list-group-item-action">Covid 19</a>
</div>